@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");
body {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)), url("./../images/bg01.png");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)), url("./../images/bg01.png");
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)), url("./../images/bg01.png");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)), url("./../images/bg01.png");
  background-image: linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)), url("./../images/bg01.png");
  background-position: top left, top left;
  background-repeat: repeat-x, repeat;
  background-size: 100% 30em, auto;
}
body,
input,
textarea,
select {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: #5d5d5d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #252122;
  font-weight: 700;
}
.tab-item {
  background: rgba(0,0,0,0.085);
  border-radius: 6px;
  border: 0;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 800;
  margin: 1em 1em;
  outline: 0;
  padding: 0.8em 0.9em;
  position: relative;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  -webkit-appearance: none;
}
.selected {
  background: #0090c5;
  color: #fff;
}
.tab-content {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.015);
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
  display: none !important;
  height: 510;
  padding: 1em;
  width: 1000;
  margin: 0 auto;
}
.tab-show {
  display: block !important;
}
.tab-title {
  font-size: 2.25em;
  margin: 0 0 1.1em 0;
  line-height: 1em;
}
.soon {
  font-size: 5em;
  margin-top: 2em;
}
.text-center {
  text-align: center;
}
.poll {
  display: block;
  margin: 0 auto;
}
#main {
  display: table;
  margin: 0 auto 1.5em auto;
}
.cross-out {
  text-decoration: line-through;
}
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}
.game-title {
  font-size: 3.5em;
  margin: 0.1em 0 0.35em 0;
}
.no-skill {
  background: #000;
  height: 90px;
  width: 90px;
}
.no-item {
  background: #000;
  height: 64px;
  width: 85px;
}
.no-used {
  opacity: 0.6;
}
.clear-list {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}
.same-line-top {
  display: inline-block;
  vertical-align: top;
}
.same-line {
  display: inline-block;
}
.vert-top {
  vertical-align: top;
}
.vert-bot {
  vertical-align: bottom;
}
.pull-left {
  float: left;
}
.zoom-challenge {
  zoom: 0.6;
  -moz-transform: scale(0.6);
}
.select-challenge .preview-challenge {
  margin-bottom: 1em;
}
.select-challenge .no-item-challenge {
  width: 90px;
  height: 90px;
  border: 1px dashed #000;
}
.select-challenge .zoom-challenge {
  zoom: 0.4;
  -moz-transform: scale(0.4);
}
.select-challenge .challenge-list {
  list-style-type: decimal;
}
.main-block {
  margin: 0 auto;
}
.main-block .topics {
  margin-top: 10px;
  font-size: 1.3em;
}
.main-block .hero-data {
  border: 1px solid #000;
  padding: 2px 2px;
}
.main-block .hero-data .hero-block .zoom-status {
  zoom: 0.3;
  -moz-transform: scale(0.3);
}
.main-block .hero-data .hero-block .hero-details .hero-name {
  background: #000;
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 5px;
  text-align: center;
}
.main-block .hero-data .hero-block .hero-details .hero-img {
  zoom: 0.5;
  -moz-transform: scale(0.5);
}
.main-block .hero-data .hero-block .hero-skill-slots .skill {
  margin: 0 1px;
  border: 3px solid #808080;
}
.main-block .hero-data .hero-item-slots {
  width: 280px;
}
.main-block .hero-data .hero-item-slots .item {
  border: 3px solid #808080;
  margin: 0 1px;
}
.main-block .key-bind {
  background-color: #808080;
  border: 1px solid #fff;
  color: #000;
  font-size: 1.2em;
  height: 1.2em;
  position: absolute;
  text-align: center;
  width: 1.2em;
}
.main-block .challenge-block .field {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  background: #000;
  height: 200px;
  position: relative;
}
.main-block .challenge-block .field .message-block {
  background: #fff;
  left: 0;
  margin: 0 auto;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 45%;
  width: 300;
  z-index: 10;
}
.main-block .challenge-block .field .message-block .message {
  color: #000;
  font-size: 2em;
  position: relative;
  text-align: center;
  top: 50%;
}
.main-block .challenge-block .field .target {
  background: #f00;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin: auto;
  position: relative;
  top: 50%;
  width: 30px;
}
.summary {
  font-size: 1.2em;
  margin: 5px 0;
  text-align: center;
}
.summary .summary-table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}
.summary .summary-table td,
.summary .summary-table th {
  border: 1px solid #000;
}
.summary .summary-table .fa-check {
  color: #008000;
}
.summary .summary-table .fa-close {
  color: #f00;
}
