.alacrity, .quas, .wex, .exort, .invoke, .chaos_meteor, .cold_snap, .deafening_blast, .emp, .exort, .forge_spirit, .ghost_walk, .ice_wall, .sun_strike, .tornado{
  background: url(../images/sprites.png) no-repeat;
}

.alacrity{
  background-position: -360px 0;
  width: 90px;
  height: 90px;
}

.quas{
  background-position: 0 0;
  width: 90px;
  height: 90px;
}

.wex{
  background-position: -90px 0;
  width: 90px;
  height: 90px;
}

.exort{
  background-position: -180px 0;
  width: 90px;
  height: 90px;
}

.invoke{
  background-position: -270px 0;
  width: 90px;
  height: 90px;
}

.chaos_meteor{
  background-position: -450px 0;
  width: 90px;
  height: 90px;
}

.cold_snap{
  background-position: -540px 0;
  width: 90px;
  height: 90px;
}

.deafening_blast{
  background-position: -630px 0;
  width: 90px;
  height: 90px;
}

.emp{
  background-position: -720px 0;
  width: 90px;
  height: 90px;
}

.exort{
  background-position: -810px 0;
  width: 90px;
  height: 90px;
}

.forge_spirit{
  background-position: 0 -90px ;
  width: 90px;
  height: 90px;
}

.ghost_walk{
  background-position: -90px -90px ;
  width: 90px;
  height: 90px;
}

.ice_wall{
  background-position: -180px -90px ;
  width: 90px;
  height: 90px;
}

.sun_strike{
  background-position: -270px -90px ;
  width: 90px;
  height: 90px;
}

.tornado{
  background-position: -360px -90px ;
  width: 90px;
  height: 90px;
}
