widthGame = 1000
widthMessage = 300

.poll
  display: block
  margin: 0 auto

#main
  display: table
  margin: 0 auto

.cross-out
  text-decoration: line-through

.hide
  display: none

.hidden
  visibility: hidden

.game-title
  text-align: center

.no-skill 
  background: black
  height: 90px
  width: 90px
  
.no-item
  background: black
  height: 64px;
  width: 85px;

.no-used
  opacity: 0.6
  
.clear-list
  list-style: none
  margin: 0 0
  padding: 0 0

.same-line-top
  display: inline-block
  vertical-align: top

.same-line
  display: inline-block

.vert-top
  vertical-align: top

.vert-bot
  vertical-align: bottom

.pull-left
  float: left

.zoom-challenge
  zoom: .6
  -moz-transform: scale(.6)

.select-challenge
  margin-left: 2px
  width: 300px
  .preview-challenge
    margin-bottom: 1em
  .no-item-challenge
    width: 90px
    height: 90px
    border: 1px dashed black
  .zoom-challenge
    zoom: 0.4
    -moz-transform: scale(0.4)
  .challenge-list
    list-style-type: decimal
.main-block
  margin: 0 auto
  
  
  .topics
    margin-top: 10px
    font-size: 1.3em

  .hero-data
    border: 1px solid black
    padding: 2px 2px
    .hero-block
      .zoom-status
        zoom: 0.3
        -moz-transform: scale(0.3)

      .hero-details
        
        .hero-name
          background: black
          color: white
          font-size: 1.5em
          margin-bottom: 5px
          text-align: center
        
        .hero-img
          zoom: 0.5
          -moz-transform: scale(0.5)
          
      .hero-skill-slots
        .skill
          margin: 0 1px
          border: 3px solid gray

    .hero-item-slots
      width: 280px
      .item
        border: 3px solid gray
        margin: 0 1px
  
  .key-bind
    background-color: gray
    border: 1px solid white
    color: black
    font-size: 1.2em
    height: 1.2em
    position: absolute
    text-align: center
    width: 1.2em

  .challenge-block
    .field
      -webkit-user-select: none; /* webkit (safari, chrome) browsers */
      -moz-user-select: none; /* mozilla browsers */
      -khtml-user-select: none; /* webkit (konqueror) browsers */
      -ms-user-select: none; /* IE10+ */
      background: black
      height: 200px
      position: relative
      .message-block
        background: white
        left: 0
        margin: 0 auto
        opacity: 0.7
        position: absolute
        right: 0
        top: 45%
        width: widthMessage
        z-index: 10
        .message
          color: black
          font-size: 2em
          position: relative
          text-align: center
          top: 50%
      .target
        background: red
        border-radius: 50%
        cursor: pointer
        height: 30px
        margin: auto
        position: relative
        top: 50%
        width: 30px

//summary
.summary
  font-size: 1.2em
  margin: 5px 0
  text-align: center
  .summary-table
    border-collapse: collapse
    margin: 0 auto
    text-align: center
    td
    th
      border: 1px solid black
    .fa-check
      color: green
    .fa-close
      color:red
