widthGame = 1000
widthMessage = 300

.hide
  display: none

.hidden
  visibility: hidden

.game-title
  text-align: center

.no-skill 
  background: black
  height: 90px
  width: 90px
  
.no-item
  background: black
  height: 64px;
  width: 85px;

.zoom-challenge
  zoom: 0.6

.no-used
  opacity: 0.6
  
.clear-list
  list-style: none
  margin: 0 0
  padding: 0 0

.same-line-top
  display: inline-block
  vertical-align: top

.same-line
  display: inline-block

.vert-top
  vertical-align: top

.vert-bot
  vertical-align: bottom

.pull-left
  float: left

.select-challenge
  width: 300px
  .challenge-list
    list-style-type: decimal
    .zoom-challenge
      zoom: 0.4

.main-block
  margin: 0 auto
  width: widthGame
  
  .topics
    margin-top: 10px
    font-size: 1.3em

  .hero-data
    border: 1px solid black
    padding: 2px 2px
    .hero-block
      .zoom-status
        zoom: 0.3

      .hero-details
        
        .hero-name
          background: black
          color: white
          font-size: 1.5em
          margin-bottom: 5px
          text-align: center
        
        .hero-img
          zoom: 0.5
          
      .hero-skill-slots
        .skill
          margin: 0 1px
          border: 3px solid gray

    .hero-item-slots
      width: 280px
      .item
        border: 3px solid gray
        margin: 0 1px
    
  .challenge-block
    .field
      background: black
      height: 200px
      position: relative
      .message-block
        background: white
        left: 0
        magin: 0 auto
        margin: 0 auto
        opacity: 0.7
        position: absolute
        right: 0
        top: 45%
        width: widthMessage
        z-index: 10
        .message
          color: black
          font-size: 2em
          position: rel
          text-align: center
          top: 50%
      .target
        background: red
        border-radius: 50%
        height: 30px
        margin: auto
        position: relative
        top: 50%
        width: 30px

