widthGame = 1000px

.hidden
  visibility: hidden

.game-title
  text-align: center

.no-skill 
  background: black
  width: 90px
  height: 90px

.zoom-challenge
  zoom: 0.6

.no-used
  opacity: 0.6
  
.clear-list
  list-style: none
  margin: 0 0
  padding: 0 0

.same-line-top
  display: inline-block
  vertical-align: top

.same-line
  display: inline-block

.vert-top
  vertical-align: top

.vert-bot
  vertical-align: bottom

.pull-left
  float: left

.select-challenge
  width: 300px

.main-block
  width: widthGame
  margin: 0 auto
  .hero-data
    border: 1px solid black
    padding: 2px 2px
    .hero-block
      
      .hero-details
        
        .hero-name
          background: black
          color: white
          text-align: center
          font-size: 1.5em
          margin-bottom: 5px
        
        .hero-img
          zoom: 0.5
          
      .hero-skill-slots
        .skill
          margin: 0 1px
          border: 3px solid gray

    .hero-item-slots
      width: 280px
      .item
        border: 3px solid gray
        margin: 0 1px
    
  .challenge-block
    .field
      background: black
      height: 200px
      .target
        border-radius: 50%
        position: relative
        margin: auto
        top: 50%
        background: red
        height: 30px
        width: 30px

